/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    * {
      flex-direction: column;
    }
    .info-cards {
        width:fit-content;
        margin: auto;
    }
    .top-image {
        width: 0;
    }
  }


@font-face {
    font-family: palatino;
    src: url(/static/fonts/palatino/Palatino.ttf);
}

body {
    font-family: palatino;
    margin: 0;
}

nav, footer {
    color: #D5CDCD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: #1F2937;
}

.hotel-bg {
    background-image: url(/docs/assets/images/hero-bg.jpeg);
    background-position: center;
    background-size: cover;
}

.layer {
    background-color: rgba(0,0,0, 0.5)
}

.wordmark {
    width: 300px;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 24px;
    flex-direction: row;
}



li > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 24px;
    transition: 0.5s all ease;
}

li > a:hover {
    color: #f2b6bb
}

li > a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
li > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-text {
    gap: 36px;
    display: flex;
    font-size: 24px;
}

.palatino-font {
    font-family: palatino;
}

.header-text, .hero-text {
    color: #D5CDCD
}

.top-section {
    padding: 3rem;
}

.top-info {
    box-shadow: 0 0 2em rgba(0,0,0, 1);
    padding: 72px;
    border-radius: 15px;
    background-color: rgba(0,0,0, 0.4);
    width: fit-content;
    gap: 48px;
    display: flex;
    align-items: center;
}

.top-desc {
    max-width: 800px;
}

.top-image {
    width: 600px;
    border-radius: 15px;
}

.hero-text {
    margin: 0;
    font-size: 64px;
}

.subtext {
    font-size: 24px;
    color: #f2b6bb;
}

.subtext-gray {
    max-width: 300px;
    font-size: 20px;
    color: #c9c9c9;
    font-family: 'roboto';
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #f2b6bb;
    color: #152A40;
    font-weight: 800;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 24px;
}

button:hover {
    background-color: #2f6ccd;
}

.info-section {
    background-image: url(/docs/assets/images/hotel.png);
    background-position: center;
    background-size: cover;
}

.info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.layer-info {
    padding: 10rem;
    margin: 0;
    background-color: rgba(0,0,0, 0.6);
}

.info-cards {
    display: flex;
    gap: 48px;
    margin-bottom: 3rem;
}

.card {
    box-shadow: 0 0 1em rgba(0,0,0, 0.1);
    padding: 24px;
    background-color: rgba(0,0,0, 0.3);
    text-align: center;
    color: #fafdff;
    border-radius: 15px;
}

.info-header {
    color: #D5CDCD;
    font-size: 48px;
    margin-bottom: 2em;
    margin-top: 0;
}

.staff-name {
    color: #D5CDCD;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 24px;
    text-shadow: 0 0 2px rgba(0,0,0, 0.3);  
}

.info-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid black;
}

.train-bg {
    background-image: url(/docs/assets/images/train.jpg);
    background-position: center;
    background-size: cover;
}

.quote-section {
    padding: 5rem;
    color: #f2b6bb;
}

.quote {
    width: fit-content;
    background-color: rgba(0,0,0, 0.3);
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

.quote-text {
    text-shadow: 0 2px 2px rgba(0,0,0); 
    font-size: 64px;
    font-weight: 300;
}

.quote-author {
    width: fit-content;
    margin-left: auto;
    font-weight: bolder;
    font-size: 24px;
}

.action {
    padding: 5rem;
}

.calltoaction {
    gap: 16px;
    color: #F9FAF8;
    background: radial-gradient(#152A40, #1F2937);
    width: 50%;
    padding: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}   

.cta-header {
    font-size: 24px;
    margin: 0;
    text-shadow: 0 3px 3px rgba(0,0,0, 1);
}

.subtext.cta-text {
    color: #E5E7EB;
    margin: 0;
}

button.cta-signup {
    background-color: #f2b6bb;
}

section > * {
    margin: 6rem auto;
}